.headline {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    color: white;
}

.footer {
    background-color:grey;
    height: 200px;
}

.uk-icon-button {
    margin-top: 75px;
    background-color: white;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

.logoSize {
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}

.slideShowText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 2em;
    align-self: center;
    color: white;
    filter: drop-shadow(5px 5px 10px black);
}

.slideShowBtn {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    text-align: center;
    outline: none;
    text-decoration: none;
    filter: drop-shadow(5px 5px 10px black);
}

/* .navBtn {
    display: inline-block;
    width: 150px;
    padding: 4px;
    color: #fff;
    border: transparent;
    background: transparent;
    text-align: left;
    outline: none;
    text-decoration: none;
} */

.uk-offcanvas-bar {
    background-color: rgb(58, 56, 56);
    width: 400px;
}



/* Maydel CSS */

.fadeCard{
    margin: 5px;
    padding: 15px;
    max-width: 33vw; 
  
}

.fadeCard img {
    width: 100%;
}

#fadeCardFather{
    margin-left: 0;
}

#inst-btn{
    float: right;
    margin-top: 10px;
    border-radius: 6px;
}

#video-btn{
    float: left;
    margin-top: 10px; 
    border-radius: 6px;
}


#modal-dad{
    height: 800px;
    background-color: transparent;
    position: fixed;
    overflow-y: auto;
}

#modal-div {
    backdrop-filter: opacity(0.5);
    min-height: 100%;
    padding: 50px 0 150px 0;
}

/* button css */
