.headline {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    color: white;
}

.footer {
    background-color:grey;
    margin-top: 440px;
    height: 200px;
}

.uk-icon-button {
    margin-top: 75px;
    background-color: honeydew;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

.logoSize {
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}

.slideShowText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 2em;
    align-self: center;
    color: white;
    text-shadow: black (5px 5px 5px);
}

.slideShowBtn {
    font-size: 1em;
    color: white;

}
