.headline {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    color: white;
}

.footer {
    position: relative;
    bottom: 0;
    background-color:#7c8c05;
    margin-top: 450px;
    margin-bottom: 0px;
    height: 80px;
    width:100%;
    left: 0;
    justify-content: center;
}

.media-icons {
    bottom:0;  
    margin-top: 1px;
    margin-left: 8px;
    margin-right: 5px;
    margin-bottom: 2px;
    vertical-align: middle;
    padding: 20px;
   
}



.uk-icon-button {
    bottom:0;
    background-color: white;
    float: right;
    margin-left: 8px;
    margin-right: 5px;
    margin-bottom: 0px;
    padding: 10px;
    

}

.logoSize {
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
    margin-bottom: 10px;
    margin-right: 50px;
}

.slideShowText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 2em;
    align-self: center;
    color: white;
    filter: drop-shadow(5px 5px 10px black);
}

.slideShowBtn {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    text-align: center;
    outline: none;
    text-decoration: none;
    filter: drop-shadow(5px 5px 10px black);
}

.navBtn {
    display: inline-block;
    width: 150px;
    padding: 4px;
    color: #fff;
    border: transparent;
    background: transparent;
    text-align: left;
    outline: none;
    text-decoration: none;
}

.uk-offcanvas-bar {
    background-color: #3e1e11;
}


