


















.footer {
    background-color:grey;
    margin-top: 440px;
    height: 200px;
}

.uk-icon-button {
    margin-top: 75px;
    background-color: honeydew;
    float: right;
    margin-left: 10px;
    margin-right: 10px;

}
